<div ng-controller="peopleinlineController">
	

<h1> People in Lineup:</h1>
<!-- 	USE THIS TO PASS NAME TO NEXT PAGE (IF you dont use the same way as you did with this page)
	<a href="/#/contacts/{{contact.username}}" class="list-group-item active"> {{contact.username}}</a>
 -->
<span ng-show="userdata">
	<button class="btn btn-default btn-xs"  ng-click="submitName()">Add Name</button>
</span>
	<button class="btn btn-default btn-xs"  ng-click="postEmit()">Add Emit</button>

	<button class="btn btn-default btn-xs"  ng-click="otherPage()">otherPage</button>


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
			<th><button class="btn btn-default btn-xs"  ng-click="delete($index)">Position</button>
<button class="btn btn-default btn-xs"  ng-click="delete($index)">Distance</button>
<button class="btn btn-default btn-xs"  ng-click="delete($index)">Other</button></th>
		</tr>
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in userstuff | filter:search | orderBy:'phone'">
				<td><a href="/#/geo2" ng-click="grabName(contact.name)"class="list-group-item active">{{contact.name}}</td>
				<td>{{contact.phone}}</td>
				<td>
					<a href="/#/contacts/{{$index}}" class="btn btn-default btn-xs">View</a>
					<button class="btn btn-danger btn-xs" ng-click="deleted(contact.name)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
